{% extends '_layouts/base.twig' %}

{% set entry = craft.entries().section('homepage').one() %}

{% block content %}
  {% if entry %}
    <section class="homepage-content">
      <h1>{{ entry.title }}</h1>
      <div class="rich-text">{{ entry.fieldRichTextHomepageContent|raw }}</div>
      <div class="rich-text">{{ entry.fieldRichTextHomepageContent2|raw }}</div>

      <div>
        {% set images = entry.fieldsAssetsBilderHomepage.all() %}

        {% for image in images %}
          {% if image.mimeType starts with 'image/' %}
            <img src="{{ image.url }}" alt="{{ image.title }}" />
          {% elseif image.mimeType starts with 'video/' %}
            <video controls width="600">
              <source src="{{ image.url }}" type="{{ image.mimeType }}" />Your browser does not support the video tag.
            </video>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  {% else %}
    <p>No homepage entry found.</p>
  {% endif %}
{% endblock %}
